#clusterMap {
  width: 100%; 
  height:480px;
}
#map {
  width:100%; 
  height: 300px;
}

.ui.navbar {
  margin-top: 20px !important;
}
.padding-reset {
  padding: 0px !important;
}
.ui.message {
  padding: 40px !important;
}
.ui.container.grid > .row > .navbar {
  width: 100%;
}
.ui.vertical.segment.footer {
  margin-top: auto;
  padding: 2rem 0 4rem 0;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

@media (max-width: 767px) {
  .ui.inverted.navbar {}
}

.ui.vertical.menu {
  margin-top: -15px !important;
  width: 100%;
  display: none;
}
.ui.cards {
  margin: 0;
}

.campgroundSlider .slick-slide img {
  max-width: 100%;
  height: auto;
}

.ui.card, .ui.cards>.card {
  width: 100% !important;
}

  .slick-arrow.slick-prev {
    z-index: 100; 
    left: 0;
  }
  .slick-arrow.slick-next {
    z-index: 100; 
    right: 0;
  }